{% extends "base_website.html" %}
{% block content %}
<main>
    <section>
        <div class="Page Page--pink-1" id="about-us">
            <div class="Container">
                <div class="u-center-text u-m-t-medium">
                    <img class="Icon--header" src="static/IndexAssets/img/icon/about_us.png" alt="icon"
                        data-aos="reveal-up">
                    <h1 class="Header" data-aos="reveal-up" data-aos-delay="100">About Us</h1>
                </div>
            </div>
        </div>
        <div class="Page Page--paddingSmall">
            <div class="Container">
                <div class="u-center-text">
                    <h2 class="AboutUs__title AboutUs__title--red u-center-margin">Our Motivation</h2>
                    <p class="AboutUs__mission u-m-t-medium" data-aos="reveal-right" data-aos-delay="200">“Why is it so
                        difficult to apply AI to the real world?”</p>
                </div>
                <div class="AboutUs__content Grid Grid--respond-width-800 Grid--respond-width-800--column">
                    <div class="Grid--1 Grid--1--gutter">
                        <p class="Text Text--grey-dark">Despite the recent advances in deep learning, it is still very
                            difficult to
                            apply machine learning to real-world industry scenarios. This is partly because building a
                            deep learning system requires extreme amounts of annotated or labeled data that involve
                            labor-intensive manual work, and also because a stand-alone AI system is not accurate
                            enough to be fully trusted in most situations.</p>
                    </div>
                    <div class="Grid--1 Grid--1--gutter">
                        <p class="Text Text--grey-dark">Manual data labeling can cost enormous amount of resources in
                            terms of both
                            time and money, and an overly trusted AI system could lead to system malfunction and even
                            fatal accidents. We want to solve these two problems and lower the hurdle for various
                            industries to adopt machine learning technology.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Page Page--paddingSmall Page--pink-2">
            <div class="Container">
                <div class="u-center-text">
                    <h2 class="AboutUs__title u-center-margin">Our Mission</h2>
                    <p class="AboutUs__mission u-m-t-medium" data-aos="reveal-right" data-aos-delay="200">“Democratize
                        AI to empower humans everywhere in the world”</p>
                </div>
                <div class="AboutUs__content Grid Grid--respond-width-800 Grid--respond-width-800--column">
                    <div class="Grid--1 Grid--1--gutter">
                        <p class="Text Text--grey-dark">Currently, only a handful of companies with enough data and
                            expertise in machine learning can utilize the full potential of state-of-the-art AI
                            technology. However, we believe that AI should be widely adopted and used as a commodity
                            across all industries to truly empower humans and revolutionize our lives.
                            <br><br>
                            To achieve this mission, we develop human-in-the-loop AI
                            technology that enables AI and humans to assist and collaborate with each other. </p>
                    </div>
                    <div class="Grid--1 Grid--1--gutter">
                        <p class="Text Text--grey-dark">AI and
                            humans are naturally adept at different tasks, and we harness the best of both worlds —
                            algorithms automate laborious but repetitive tasks, and human workers collaborate with and
                            verify the works of algorithms. With this technology, we first semi-automate the data
                            annotation process and ultimately serve various industries with AI systems that effectively
                            collaborate with on-site human experts.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Page" id="our-advisors">
            <div class="Container">
                <div class="u-center-text">
                    <h1 class="Header">Advisors</h1>
                </div>
                <div class="Grid Grid--wrap u-center u-m-t-medium">
                    <div class="ImageCard ImageCard--horizontal">
                        <div class="Grid Grid--respond-phone">
                            <div class="Grid--1 u-center">
                                <img class="ImageCard__image"
                                    src="static/IndexAssets/img/team/gkonidaris.png"
                                    alt="George Konidaris">
                            </div>
                            <div class="Grid--2 ImageCard__content ImageCard__content--horizontal">
                                <h3 class="ImageCard__content__name">George Konidaris</h3>
                                <p class="ImageCard__content__description">George is an Assistant Professor of Computer
                                    Science and director of the Intelligent Robot Lab at Brown University. He is also
                                    the co-founder and Chief Roboticist at Realtime Robotics, based in Boston.
                                    Previously, he was an Assistant Professor at Duke University and a post-doc at MIT.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ImageCard ImageCard--horizontal">
                        <div class="Grid Grid--respond-phone">
                            <div class="Grid--1 u-center">
                                <img class="ImageCard__image"
                                    src="static/IndexAssets/img/team/kasohn.png" alt="Kyung-Ah Sohn">
                            </div>
                            <div class="Grid--2 ImageCard__content ImageCard__content--horizontal">
                                <h3 class="ImageCard__content__name">Kyung-Ah Sohn</h3>
                                <p class="ImageCard__content__description">Kyung-Ah is an Associate Professor of
                                    Software and Computer Engineering at Ajou University. Previously, she was a
                                    research assistant professor at Seoul National University and finished her
                                    post-doc and PhD at Carnegie Mellon University. </p>
                            </div>
                        </div>
                    </div>
                    <div class="ImageCard ImageCard--horizontal">
                        <div class="Grid Grid--respond-phone">
                            <div class="Grid--1 u-center">
                                <img class="ImageCard__image"
                                    src="static/IndexAssets/img/team/epark.png" alt="Edan Park">
                            </div>
                            <div class="Grid--2 ImageCard__content ImageCard__content--horizontal">
                                <h3 class="ImageCard__content__name">Edan Park</h3>
                                <p class="ImageCard__content__description">Edan is the Managing Director and Chief
                                    Investment Officer at Parallax Capital Management. Previously, he was the Head of
                                    Institutional Sales at Citibank, SVP and Head of Emerging Market Currency Sales at
                                    HSBC and Managing Director at Rothschild Emerging Markets. </p>
                            </div>
                        </div>
                    </div>
                    <div class="ImageCard ImageCard--horizontal">
                        <div class="Grid Grid--respond-phone">
                            <div class="Grid--1 u-center">
                                <img class="ImageCard__image"
                                    src="static/IndexAssets/img/team/jmchoi.png" alt="Jaimin Choi">
                            </div>
                            <div class="Grid--2 ImageCard__content ImageCard__content--horizontal">
                                <h3 class="ImageCard__content__name">Jaimin Choi</h3>
                                <p class="ImageCard__content__description">Jaimin is a lawyer in the state of New York
                                    and graduated from Duke University School of Law. He has worked as a corporate
                                    lawyer for several industry-leading companies in the IT sector. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="Page Page--orange" id="index-partners">
            <div class="Container">
                <div class="u-center-text">
                    <img class="Icon--header" src="static/IndexAssets/img/icon/trusted_by_industry_leaders.png" alt="icon" data-aos="reveal-up">
                    <h1 class="Header Header--light" data-aos="reveal-up" data-aos-delay="100">Trusted by</h1>
                    <div class="Card u-width-60 u-m-t-big" data-aos="reveal-right" data-aos-delay="300">
                        <h1 class="HeaderDescription">
                            Our Clients
                        </h1>
                        <div class="Grid Grid--center Grid--wrap u-m-t-small">
                            <div class="Grid Grid--center">
                                <img class="Image--partners" src="static/IndexAssets/img/clients/client_lg.png" alt="client lg">
                                <img class="Image--partners" src="static/IndexAssets/img/clients/client_kakao.png"
                                    alt="client kakao">
                            </div>
                            <div class="Grid Grid--center">
                                <img class="Image--partners" src="static/IndexAssets/img/clients/client_posco.png"
                                    alt="client posco">
                                <img class="Image--partners" src="static/IndexAssets/img/clients/client_skt.png"
                                    alt="client skt">
                            </div>
                        </div>
                    </div>
                    <div class="Card u-width-60 u-m-t-mini" data-aos="reveal-right" data-aos-delay="500">
                        <h1 class="HeaderDescription">
                            Our Investors
                        </h1>
                        <img class="Image--partners-big u-m-t-small" src="static/IndexAssets/img/investor/investor_yc.png" alt="investor yc">
    
                    </div>
                </div>
            </div>
        </div>
    </section>   
	<section>
        <div class="Page Page--orange Page--miniBottomPadding u-center" id="contact sales">
            <img class="Contact__line Contact__lineLeft" src="static/IndexAssets/img/line/line.png" alt="">
            <img class="Contact__line Contact__lineRight" src="static/IndexAssets/img/line/line.png" alt="">
            <div class="u-center-text u-z-100 u-p-t-medium u-p-b-medium">
                <img class="Icon--header" src="static/IndexAssets/img/icon/ready_to_get_started.png" alt="icon" data-aos="reveal-up">
                <h1 class="TextEmphasize Text--red u-m-t-mini" data-aos="reveal-up" data-aos-delay="200">Ready to get started?</h1>
                <a class="Button Button--red u-m-t-medium" href="{{ url_for('contact') }}" data-aos="reveal-up" data-aos-delay="400">CONTACT US</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}