{% extends "base_website.html" %}
{% block content %}
<main>
    <section>
        <div class="Page Page--miniBottomPadding u-center-text" id="data-collection">
            <div class="Container">
                <div class="u-center-text u-m-t-big">
                    <img class="Icon--header" src="static/IndexAssets/img/icon/pricing.png" alt="icon" data-aos="reveal-up">
                    <h1 class="Header" data-aos="reveal-up" data-aos-delay="100">Pricing</h1>
                    <div class="u-m-t-big u-center-text Grid Grid--center">
                        <div class="Grid--1--gutterSmall Button--outline Button--outlinePurple active" id="jsImageVideoLabelingButton" data-aos="reveal-up" data-aos-duration="600" data-aos-delay="300">Image & Video Labeling</div>
                        <div class="Grid--1--gutterSmall Button--outline Button--outlineGreen" id="jsTextLabelingButton" data-aos="reveal-up" data-aos-duration="600" data-aos-delay="300">Text Labeling</div>
                        <div class="Grid--1--gutterSmall Button--outline Button--outlineBlue" id="jsDataCollectionButton" data-aos="reveal-up" data-aos-duration="600" data-aos-delay="300">Data Collection</div>
                    </div>
                    <div class="Pricing__cardWrap Card Card--noPadding u-m-t-big active" id="jsImageVideoLabelingContent" data-aos="reveal-right" data-aos-duration="700" data-aos-delay="400">
                        <div class="Pricing__cardWrap__info Card Card--noMargin Card--smallPadding u-start-text">
                            <img class="Icon--header Icon--headerSmall" src="static/IndexAssets/img/icon/image_video_labeling.png" alt="icon">
                            <br><span class="Pricing__title Pricing__title--purple">Image & Video Labeling</span>
                            <div class="Text Text--light Text--mini u-m-t-medium">Guaranteed accuracy and speed. Using labeling pipeline and algorithms designed and optimized by AI experts like you.</div>
                            <a class="ArrowButton ArrowButton--small ArrowButton--violet ArrowButton--startCase u-m-t-small" href="image-video-labeling.html">
                                Learn more <i class="ArrowButton__arrow fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="Pricing__cardWrap__price">
                            <div class="Pricing u-m-t-medium">
                                <div class="Pricing__row Pricing__row--purple">
                                    <div class="Grid--1">
                                        Category
                                    </div>
                                    <div class="Grid--1">
                                        Price
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--purple">
                                    <div class="Grid--1 u-center">
                                        <div class="Grid--1 u-center">
                                            <img src="static/IndexAssets/img/navbar_icons/image_tag.png"
                                                alt="class tag" class="image--nav">Class Tag
                                        </div>
                                        <div class="Grid--1 u-center">
                                            $0.04 / tag
                                        </div>
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--purple">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/image_bbox.png"
                                            alt="bounding box" class="image--nav"> Bounding Box
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.06 / box
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--purple">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/image_keypoint.png"
                                            alt="keypoint" class="image--nav">Keypoint, Polyline
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.04 / point
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--purple">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/image_segmentation.png"
                                            alt="segmentation" class="image--nav">Segmentation
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.90 / object
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--purple">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/icon/lidar.png" alt="lidar" class="image--nav">
                                        <p>Lidar Labeling</p>
                                    </div>
                                    <div class="Grid--1 u-center">
                                        Contact Sales
                                    </div>
                                </div>
                            </div>
                            <div class="Text--mini u-m-t-big u-center-text">
                                We typically generate over a million labels each week.
                                <br />Talk to us about your project timeline or custom label requirements and we will suit your
                                need.
                                <br />Contact our sales team for projects over $100,000 for further discounted pricing!
                            </div>
                            <div class="u-m-tb-big u-center-text">
                                <a class="Button Button--red u-button-m-r" href="{{ url_for('demoRequest') }}">REQUEST QUOTE</a>
                                <a class="Button Button--white" href="{{ url_for('contact') }}">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                    <div class="Pricing__cardWrap Card Card--noPadding u-m-t-big" id="jsTextLabelingContent">
                        <div class="Pricing__cardWrap__info Card Card--noMargin Card--smallPadding u-start-text">
                            <img class="Icon--header Icon--headerSmall" src="static/IndexAssets/img/icon/text_labeling.png" alt="icon">
                            <br><span class="Pricing__title Pricing__title--mint">Text Labeling</span>
                            <div class="Text Text--light Text--mini u-m-t-medium">Guaranteed accuracy and speed. Using labeling pipeline and algorithms designed and optimized by AI experts like you.</div>
                            <a class="ArrowButton ArrowButton--small ArrowButton--mint ArrowButton--startCase u-m-t-small" href="text-labeling.html">
                                Learn more <i class="ArrowButton__arrow fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="Pricing__cardWrap__price">
                            <div class="Pricing u-m-t-medium">
                                <div class="Pricing__row Pricing__row--mint">
                                    <div class="Grid--1">
                                        Category
                                    </div>
                                    <div class="Grid--1">
                                        Price
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--mint">
                                    <div class="Grid--1 u-center">
                                        <div class="Grid--1 u-center">
                                            <img src="static/IndexAssets/img/navbar_icons/image_tag.png"
                                                alt="class tag" class="image--nav">Class Tag
                                        </div>
                                        <div class="Grid--1 u-center">
                                            $0.04 / tag
                                        </div>
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--mint">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/text_comparison.png"
                                            alt="bounding box" class="image--nav">A/B Comparison
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.04 / pair
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--mint">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/text_qa.png" alt="question answering"
                                            class="image--nav">Question Answering
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.12 / pair
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--mint">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/image_ocr.png"
                                            alt="orc transcription" class="image--nav">
                                        <p>OCR Transcription</p>
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.08 / box
                                    </div>
                                </div>
                            </div>
                            <div class="Text--mini u-m-t-big u-center-text">
                                We typically generate over a million labels each week.
                                <br />Talk to us about your project timeline or custom label requirements and we will suit your
                                need.
                                <br />Contact our sales team for projects over $100,000 for further discounted pricing!
                            </div>
                            <div class="u-m-tb-big u-center-text">
                                <a class="Button Button--red u-button-m-r" href="{{ url_for('demoRequest') }}">REQUEST QUOTE</a>
                                <a class="Button Button--white" href="{{ url_for('contact') }}">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                    <div class="Pricing__cardWrap Card Card--noPadding u-m-t-big" id="jsDataCollectionContent">
                        <div class="Pricing__cardWrap__info Card Card--noMargin Card--smallPadding u-start-text">
                            <img class="Icon--header Icon--headerSmall" src="static/IndexAssets/img/icon/data_collection2.png" alt="icon">
                            <br><span class="Pricing__title Pricing__title--blue">Data Collection</span>
                            <div class="Text Text--light Text--mini u-m-t-medium">Get access to our database of images or request new collection by professional and crowd data collectors.</div>
                            <a class="ArrowButton ArrowButton--small ArrowButton--blue ArrowButton--startCase u-m-t-small" href="data-collection.html">
                                Learn more <i class="ArrowButton__arrow fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="Pricing__cardWrap__price">
                            <div class="Pricing u-m-t-medium">
                                <div class="Pricing__row Pricing__row--blue">
                                    <div class="Grid--1">
                                        Category
                                    </div>
                                    <div class="Grid--1">
                                        Price
                                    </div>
                                </div>
                                <div class="Pricing__row Pricing__row--blue">
                                    <div class="Grid--1 u-center">
                                        <img src="static/IndexAssets/img/navbar_icons/image.png" alt="image data"
                                            class="image--nav">Image Data
                                    </div>
                                    <div class="Grid--1 u-center">
                                        $0.30 ~ $3.00 / image
                                    </div>
                                </div>
                            </div>
                            <div class="Text--mini u-m-t-big u-center-text">
                                The exact price depends on the type and volume of images.
                                <br />Contact our sales team for more information.
                            </div>
                            <div class="u-m-tb-big u-center-text">
                                <a class="Button Button--red u-button-m-r" href="{{ url_for('demoRequest') }}">REQUEST QUOTE</a>
                                <a class="Button Button--white" href="{{ url_for('contact') }}">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}